<section class="container">
  <div class="content">
    <img src="https://avatars3.githubusercontent.com/u/6940767?v=3&amp;s=460" alt="Avatar">
    <h1 id="Gowtham-Raj-M"><a href="#Gowtham-Raj-M" class="headerlink" title="Gowtham Raj M"></a>Gowtham Raj M</h1><p>Front End Developer at Zoho Corporation</p>
    <p><a href="https://twitter.com/gowthamrm_" target="_blank" rel="external">https://twitter.com/gowthamrm_</a></p>
    <p><a href="https://github.com/gowthamrm" target="_blank" rel="external">https://github.com/gowthamrm</a></p>
  </div>
</section>
<footer id="footer">
  <div id="footer-info" class="inner">
    &copy; 2017 <a href="https://github.com/gowthamrm" target="_blank">@gowthamrm</a><br>
  </div>
</footer>